<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>learn vue.js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .color-box {
            width: 40px;
            height: 40px;
            margin: 5px 0 0 0;
        }
    </style>
</head>
<body>

    <ul class="nav">
        <li class="nav-item">
            <h2 class="nav-link disabled">Vue.js</h2>
        </li>
    </ul>

    <div class="container row" id="app">

        <div class="col-md-3">
            <img :src="image" class="w-100">
        </div>

        <div>
            <h3>{{ product }}</h3>
            
            <p v-if="inventory">In Stock</p>
            <p v-else="">Out Of Stock</p>

            <ul>
                <li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div v-for="variant in variants"
                :key="variant.variantId"
                class="color-box"
                :style="{ backgroundColor: variant.variantColor }"
                @mouseover="updateProduct(variant.variantImage)"
            >
            </div><br>

            <div class="row">
                <button v-on:click="addToCart" 
                        :disabled="!inventory"
                        class="btn btn-secondary col-md">
                        Add to Cart
                </button>

                <button class="btn ml-md-2 border border-secondary disabled">
                    Cart({{ cart }})
                </button>
            </div>
            
        </div>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="vue.js"></script>
</body>
</html>