<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="vue/vue.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="index.html">Home</a>
    </nav><br>

    <div class="container">

        <div id="todo">
            <h3>{{ title }}</h3>
            <form class="input-group" @submit.prevent="addTodo">
                <input v-model="newTodo" type="text" class="form-control" name="newToDo" id="newToDo">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" name="button">Add</button>
                </div>
            </form>
            <div class="btn-group mt-md-1" role="group" aria-label="Basic example">
                <button class="btn btn-secondary" @click="allDone">All Done</button> <br>
                <button class="btn btn-secondary" type="button" @click="clearAll">Clear All</button>
            </div>
            <!-- <ul>
                <li class="mt-md-1 w-100" v-for="todo in todos">
                    <span class="col-md-4" :class="{ done: todo.done}">{{ todo.title }}</span>
                    <input class="text-right" type="checkbox" v-model="todo.done">
                    <button class=" text-right btn btn-secondary" type="button" @click="removeTodo(todo)">clear</button>
                </li>
            </ul> -->
            <table class="w-100">
                <tr v-for="todo in todos">
                    <td><span class="col-auto" :class="{ done: todo.done}">{{ todo.title }}</span></td>
                    <td class="text-right">
                        <input type="checkbox" v-model="todo.done">
                        <button class="btn btn-secondary ml-md-2" type="button" @click="removeTodo(todo)">clear</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <script src="vue/todo.js"></script>
</body>
</html>